<footer class="mt-5">
    <div style="background-color:#333545;">
        <footer class="py-3  px-3 ">
            <div class="row mt-2">
                <div class="col-5 " style="color: #fff">
                    <hr>
                </div>
                <div class="col-2 d-flex justify-content-center"><img src="../../../images/sathislogo-01-removebg.png"
                        width="150" height="120" alt=""></div>
                <div class="col-5 " style="color: #fff;">
                    <hr>
                </div>
            </div>


            <div class="d-flex justify-content-center mt-5 ">
                <!-- Facebook -->
                <a style="color: #fff;" href="#!" role="button" class="mx-2"><i class="fab fa-facebook-f fa-lg"></i></a>

                <!-- Twitter -->
                <a style="color: #fff" href="#!" role="button" class="mx-2"><i class="fab fa-twitter fa-lg"></i></a>


                <!-- Google -->
                <a style="color: #fff;" href="#!" role="button" class="mx-2"><i class="fab fa-google fa-lg"></i></a>


                <!-- Instagram -->
                <a style="color: #fff;" href="#!" role="button" class="mx-2"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
            <p class="text-center text-muted blockquote-footer mt-5">Copyright 2022 © Bigtree
                Entertainment
                Pvt.
                Ltd.
                All Rights
                Reserved.<br>The content and images used on this site are copyright protected
                and copyrights
                vests with the respective owners. The usage of the content and images on this
                website is
                intended to promote the works and no endorsement of the artist shall be implied.
                Unauthorized
                use is prohibited and punishable by law.</p>
        </footer>
    </div>
</footer>

</body>

</html>