<div class="px-5 " style="background-color: #333545; ">
    <div class="ms-5">
        <a href="" class="text-decoration-none text-white ">
            <div class="text-white">INOX: Chennai Citi Centre, Dr. RK Salai</div>
    </div>
    </a>
</div>