<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>

<body style="background-color:#dfe3e7;">
    <div style="background-color:#333545;" class=" px-md-5  shadow-lg">

        <!-- <div class="d-flex"> -->
        <header class="p-3 d-flex justify-content-between text-white">
            <div>
                <div class="container d-inline-flex p-2">
                    <a href="" class=""><i class="fa-sharp fa-solid fa-chevron-left fa-lg" style=" color: #fff"></i></a>
                    <div class="pl-2">Brahmastra </div>

                </div>
                <div class="ps-3">INOX: Chennai Citi Centre, Dr. RK Salai |</div>
            </div>


            <div class="mt-2"> <a href="index3" class=" text-white ">
                    <i class="fa-solid fa-x"></i></a></div>
        </header>
        <!-- </div> -->
    </div>
    <div class="container mt-5" style="border: 1px solid #dfe3e7;background-color:#fff; padding: 50px 250px;">
        <h2 class="text-center">Booking Summary</h2>
        <ul>
            <div class="row mt-2 ">
                <li class="d-flex flex-row">

                    <div class="col-6 text-center">
                        <span> ELITE - A1,A2 <span>(2 tickets)</span></span>
                    </div>
                    <div class="col-6 text-center">
                        <span>Rs. 300</span>
                    </div>

                </li>
            </div>
            <div class="row mt-2">
                <li class="d-flex flex-row">

                    <div class="col-6 text-center">
                        <span>Convenience fees</span>
                    </div>
                    <div class="col-6 text-center">
                        <span>Rs. 75.52</span>
                    </div>

                </li>
            </div>
            <hr style="border-top: dotted 1px;" />
            <div class="row mt-2">
                <li class="d-flex flex-row">

                    <div class="col-6 text-center">
                        <span>Sub total</span>

                    </div>
                    <div class="col-6 text-center">
                        <span>Rs.523.52</span>
                    </div>

                </li>
            </div>
            <div class="row mt-5">
                <li class="d-flex flex-row" style="background-color: #fffcdc;">

                    <div class="col-6 text-center">
                        <span>Amount Payable
                        </span>

                    </div>
                    <div class="col-6 text-center">
                        <span>Rs.523.52</span>
                    </div>

                </li>
            </div>
            <div class="row mt-5">
                <button class="bg-danger rounded border border-light p-2">
                    <li class="d-flex flex-row ">

                        <div class=" col-6 ">
                            <span class="text-light">Total:Rs.523.52</span>


                        </div>
                        <div class="col-6 ">
                            <span class="text-light"><a href="index7" class="text-decoration-none text-white">
                                    proceed</a></span>
                        </div>

                    </li>
                </button>
            </div>
        </ul>
    </div>
</body>

</html>